name: Pre Merge Checks

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'

jobs:
  gradle:
    strategy:
      matrix:
        include:
            os: ubuntu-latest
            intellijVersion: 2021.2
            experimental: true
    continue-on-error: ${{ matrix.experimental }}
    runs-on: ${{ matrix.os }}
    if: ${{ !contains(github.event.head_commit.message, 'ci skip') }}
    env:
      JDK_VERSION: 11
    steps:
    - name: Checkout Repo
      uses: actions/checkout@v2

    - name: Setup Java
      uses: actions/setup-java@v1
      with:
        java-version: 11

    - name: Build detekt idea plugin
      run: ./gradlew build --no-daemon -Dorg.gradle.project.intellijVersion=${{ matrix.intellijVersion }}
